.flex {
    display: flex
}

.align-centre {
    align-items: center
}

.justify-btwn {
    justify-content: space-between
}

.noselect {
    user-select: none
}


.dash-lr-btn {
    margin: 0 12px;
    padding: 12px
}

.dashboard-month-row {
    background-color: #efefef;
    margin: 12px 0;
    padding: 15px 15px;
    border-radius: 12px;
}

.nobreak {
    white-space: nowrap
}

.ellipsis-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bold {
    font-weight: bold
}

.lalign {
    text-align: left;
}

.ralign {
    text-align: right;
}

table {
    width: 100%
}