.breakdown-table table {
    border-collapse: collapse
}

    .breakdown-table table td, .breakdown-table table th {
        /*border: solid 1px #ddd*/
    }

.breakdown-cat-bar-row {
    height: 4px
}

.breakdown-cat-bar-start {
    border-radius: 12px;
    border-end-start-radius: 0;
    height: 12px;
}

.breakdown-cat-bar {
    border-radius: 12px;
    height: 12px;
}

.breakdown-cat-value-row {
    line-height: 0.8;
}

    .breakdown-cat-value-row td {
        padding-bottom: 8px;
    }

    .breakdown-cat-value-row .category-pill {
        border-start-end-radius: 0;
        border-start-start-radius: 0;
    }

        .breakdown-cat-value-row .category-pill.uncategorized {
            border-top: none;
        }

.breakdown-cat-spacer-row:not(:last-of-type) {
    height: 8px;
    border-bottom: rgb(222, 226, 230) solid 1px;
}

.breakdown-cat-bar-row.selected, .breakdown-cat-value-row.selected {
    background-color: #e6e6ff
}

.budget-dev-over {
    color: rgb(220, 53, 69)
}

.budget-dev-under {
    color: rgb(25, 135, 84)
}

.budget-dev-yearly {
    color: rgb(255, 193, 7)
}
