<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinTracker.Web</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/FinTracker.Web2.styles.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</head>
<body>
    <header>
        @{ int[] availableYears = new BaseViewModel().AvailableYears(); }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand me-4" href="/">FinTracker.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item me-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Home
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="/">Dashboard &raquo;</a>
                                    <div class="dropdown-menu dropdown-submenu">
                                        @foreach (int year in availableYears)
                                        {
                                            <a class="dropdown-item" href="/?y=@year">@year</a>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/breakdown/@DateTime.Now.Year">View Year &raquo;</a>
                                    <div class="dropdown-menu dropdown-submenu">
                                        @foreach (int year in availableYears)
                                        {
                                            <a class="dropdown-item" href="/breakdown/@year">@year</a>
                                        }
                                    </div>
                                </li>
                               <li>
                                    <a class="dropdown-item" href="#" id="customReportBtn">Custom Report</a>
                               </li>
                            </ul>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link" href="#">Budget</a>
                        </li>
                        <li class="nav-item me-2 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                System
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/system/categories">Categories</a>
                                <a class="dropdown-item" href="/system/defaults">Defaults</a>
                                <a class="dropdown-item" href="#">Formats</a>
                                <a class="dropdown-item" href="#">Transactions</a>
                                @* <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a> *@
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="height:100px"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="overlay d-none" id="overlay-customreport"></div>
    <div id="popup-customreport" class="popup d-none">
        <h4 class="mb-3">Custom Report</h4>
        <form action="/breakdown/custom" method="get"> @*enctype="multipart/form-data"*@
            <div class="form-group mb-3">
                <label for="reportStart">Report Start</label>
                <input class="form-control" id="reportStart" name="from" type="month" placeholder="yyyy-MM" max="7" />
            </div>
            <div class="form-group mb-3">
                <label for="reportEnd">Report End</label>
                <input class="form-control" id="reportEnd" name="to" type="month" placeholder="yyyy-MM" max="7" />
            </div>
            <div class="form-group mb-3">
                <input type="submit" class="form-control" value="Submit" />
            </div>
        </form>
    </div>
    <script>
        // custom report dialog
        dialogWindow("#customReportBtn", "#overlay-customreport", "#popup-customreport")
    </script>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FinTracker.Web2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
</body>
</html>
